    /* Css for the every element goes here */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        height:100vh;
        align-items: center;
        margin: 0;
        background-color: #1F1F1F;
    }
    /* css for the main container of the page */
    .container {
        width: 400px;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .header{
        position: relative; /* position is made relative to place the title over it*/
        margin-top: 10px;;
    }
    
    .header .title{
        color: #ff5e5e;
        margin:0px;
        margin-bottom: 20px;
        position: relative;
        top: -15px;         /*it places the title over the <hr> horizontal line*/
        display: inline;
        padding: 0px 5px;
        background-color: white;
        z-index: 1;         /*It place the element over the other element*/
    }

    .offerOption {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        position: relative;
    }

    .offerOption:not(.active) .size-color-dropdowns{   /*selecting the option that contains the active class*/
        display:none;       
    }
    
    .offerOption.active {
        border-color: #ff5e5e;
        background-color: #f9ecec;
    }

    .offerOption input {
        margin-right: 10px;
    }

    .offerOption p {
        margin: 5px 0;
        font-size: 16px;
        color: #333;
    }

    .off-price{
        color: white;
        border-radius: 3px;
        overflow: hidden;
        background-color: #ff5e5e;
        padding:3px 4px;
    }
    .most-popular {
        position: absolute;
        top: -10px;
        right: 10px;
        background-color: #ff5e5e;
        color: white;
        padding: 3px 8px;
        font-size: 10px;
        border-radius: 5px;
    }

    .size-color-dropdowns {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .size-color-dropdowns select {
        width: 45%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin: 10px 0px 2px 0px;
    }

    .addToCart {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff5e5e;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .addToCart:hover {
        background-color: #e04d4d;
    }

    .footer {
        font-size: 12px;
        color: #888;
        margin-top: 15px;
    }